<form ng-submit="createNewBook()">

    <div class="form-group">
        <label>Name:</label>
        <div style="display: flex">
            <input style="width: 90%;" ng-model="name" class="form-control" placeholder="Enter book name"/>
            <span ng-show="isNameValid()" style="color: #5cb85c; float: right; margin: auto" class="glyphicon glyphicon-ok"></span>
            <p  ng-show="!isNameValid()" style="color: #f0ad4e; float: right; margin: auto" class="fa fa-warning"></p>
        </div>
    </div>

    <div class="form-group">
        <label>Genre:</label>
        <div style="display: flex">
            <input style="width: 90%;" ng-model="genre" class="form-control" placeholder="Enter book genre"/>
            <span ng-show="isGenreValid()" style="color: #5cb85c; float: right; margin: auto" class="glyphicon glyphicon-ok"></span>
            <p ng-show="!isGenreValid()" style="color: #f0ad4e; float: right; margin: auto" class="fa fa-warning"></p>
        </div>
    </div>

    <div class="form-group">
        <label>Year:</label>
        <div style="display: flex">
            <input type="number" style="width: 90%;" ng-model="year" class="form-control" placeholder="Enter book year"/>
            <span ng-show="isYearValid()" style="color: #5cb85c; float: right; margin: auto" class="glyphicon glyphicon-ok"></span>
            <p ng-show="!isYearValid()" style="color: #f0ad4e; float: right; margin: auto" class="fa fa-warning"></p>
        </div>

    </div>

    <div ng-controller="authorController" class="form-group">
        <label>Author</label>
        <div style="display: flex">
            <select style="width: 90%;" class="form-control" ng-model="$parent.authorId" >
                <option ng-repeat="author in authors" value="{{ author.id }}">{{ author.name }}</option>
            </select>
            <span ng-show="isAuthorValid()" style="color: #5cb85c; float: right; margin: auto" class="glyphicon glyphicon-ok"></span>
            <p ng-show="!isAuthorValid()" style="color: #f0ad4e; float: right; margin: auto" class="fa fa-warning"></p>
        </div>

    </div>

    <button style="width: 90%;" type="submit" class="btn btn-primary btn-lg btn-block">Add book</button>

</form>